* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Cardo', serif;
    font-size: 18px;
    /* color: #f3f3f3; */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    /* color: #ffce00; */
}

html, 
body {
    background-color: #F9F5E3;
    margin: 0px auto 0px auto;
    text-align: center;
    /* background-color: #484d5c; */
}
p {
    margin: 0px 10vw 0px 10vw;
}
h1 {
    margin-bottom: 30px;
}
#paragraph-margin {
    margin: 0px 40px;
}

/*HomePage Styling*/

.homepage > p {
    margin-top: 2vw !important;
    margin-bottom: 2vw !important;
    
}

@media only screen and (min-width: 1440px){
    .homepage p {
        margin: 0vw 20vw 0vw 20vw;
    }
}


/*Article List CSS*/
.ArticleList p {
    margin: 0 auto;
}
.ArticleList a:hover {
    color: black;
}
@media only screen and (max-width: 500px) {
    .ArticleList {
        width: 70% !important;
    }
}

/*Comments Styling*/
.comment-alteration {
    margin: 0vw;
    padding: 5%;
}

/*NavBar CSS*/
li {
    display: inline-block;
    padding: 12px;
}

li a {
    padding: 12px;
}

nav a {
    color:#C2FFE3;
    text-decoration: none;
}
nav a:hover {
    /* background: black; */
    color:bisque;
}

button {
    width: 8rem;
    height: 2rem;
    /* text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.548); */
    cursor: pointer;
    border-radius: 5%;
    color: #C2FFE3;
    background-color: #30505F;
    font-weight: 900;
    font-family:inherit;
}
/* button:focus {
    background-color: powderblue; 
    color: #FFCAB1;
} */
button:hover {
    background-color: #44616f;
}

/*Modal CSS*/

.formContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    width: 40%;
    background-color:white;
    margin: 0 auto;
    max-width: 600px;
}

.bodyStyle {
    text-align: center;
}

.footerStyle {
    text-align: center;
    padding: 20px;
}

@media only screen and (max-width: 575px) {
    .content {
        width: 80%;
    }
}

/*Footer CSS*/
html {
    height: 100%;
    box-sizing: border-box;
}
body {
    min-height: 100%;
    position: relative;
    padding-bottom: 15rem;
}
.footerLinks {
    color: #C2FFE3; 
    font-size: 32px; 
    text-decoration: none;
}
a:hover {
    /* background: black; */
    color:bisque;
}

/*Contact Box CSS*/
/* .contactBoxButton {
    display: inline-block; 
    padding: 10px 20px !important; 
    font-size: 12px; 
} */
input:focus {
    background-color: #ECF4FE;
}
textarea:focus {
    background-color: #ECF4FE;
}


/*Nav + Footer Media Query*/

@media only screen and (max-width: 575px) {
    p {
        font-size: 12px;
    }
    nav a {
        font-size: 14px;
    }
}
@media only screen and (max-width: 405px) {
    p {
        font-size: 10px;
    }
    nav a {
        font-size: 12px;
    }
    a b {
        font-size: 12px;
    }
}

/*Image Media Query*/

@media only screen and (max-width: 575px) {
    .unsplashIMG {
        width: 250px;
    }
}
@media only screen and (min-width: 1325px) {
    .unsplashIMG {
        width: 900px;
    }
}

/*Article List Media Query*/

@media only screen and (max-width: 768px) {
    .ArticleList {
        min-width: 100px;
        font-size: 12px;
    }
}