* {
    padding: 0;
    margin: 0;
}

html, 
body {
    background-color: #F9F5E3;
}

li {
    display: inline-block;
    padding: 12px;
}

li a {
    padding: 12px;
}

nav a {
    color:#C2FFE3;
    text-decoration: none;
}
nav a:hover {
    background: black;
    color:bisque;
}

button {
    width: 8rem;
    height: 4rem;
    text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.548);
}
button:focus {
    background-color: powderblue;
    color:rgb(34, 33, 41)
}
button:hover {
    background-color: white;
}